$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

.card{
    width: 30%;
}
a{
    text-decoration: none;
    border-radius: 10px;
    background-color: green;
    padding: 6px 16px;
    color: white;
}
a:hover{
    color: white;
    opacity: .8;
}
